<ion-content>
  <ion-img src="../../../../assets/pictures/utolso-removebg-preview.png" alt=""></ion-img>
  <ion-title>CogSkills</ion-title>
  <ion-list>
    <ion-item>
    <ion-label id="iowa" (click)="openIntro(); sendDesc('iowa')" [routerLink]="[ '/home/iowa' ]">IOWA Gambling</ion-label>
    </ion-item>
    <ion-item>
      <ion-label id="wcst" (click)="openIntro(); sendDesc('wcst')" [routerLink]="[ '/home/wcst' ]">Wisconsin Card Sorting</ion-label>
    </ion-item>
    <ion-item>
      <ion-label id="mentalrotation" (click)="openIntro(); sendDesc('mentalrotation')" [routerLink]="[ '/home/mentalrotation' ]">Mental Rotation</ion-label>
    </ion-item>
    <ion-item>
      <ion-label id="bart" (click)="openIntro(); sendDesc('bart')" [routerLink]="[ '/home/bart' ]">Balloon Analog Risk</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
