<ion-content>
  <ion-title>Üdvözöllek!</ion-title>
  <ion-list>
    <ion-item>
    <ion-label id="iowa" (click)="openIntro(); sendDesc('iowa')" [routerLink]="[ '/home/iowa' ]">IOWA Gambling</ion-label>
    </ion-item>
    <ion-item>
      <ion-label id="wcst" (click)="openIntro(); sendDesc('wcst')" [routerLink]="[ '/home/wcst' ]">Wisconsin Card Sorting Test</ion-label>
    </ion-item>
    <ion-item>
      <ion-label id="gonogo" (click)="openIntro(); sendDesc('gonogo')" [routerLink]="[ '/home/gonogo' ]">Go/No-go</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
