ion-title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: xx-large;
}
ion-list {
  padding: 5px;
  margin: 40px;
}

ion-img {
  width: 100%;
  height: 40%;
  padding: 20px;
}

ion-content {
  --padding-top: 70px;
}
#iowa,
#wcst,
#bart,
#mentalrotation {
  font-size: large;
}
