
<ion-content>
    <ion-title>Nézd meg az eredményeid</ion-title>
  <ion-card>
    <ion-item>
    <ion-button color="secondary" [routerLink]="[ '/home/statwcst' ]">WCST Eredmények</ion-button>
  </ion-item>
  <ion-item>
    <ion-button color="secondary" [routerLink]="[ '/home/statiowa' ]">IOWA Eredmények</ion-button>
  </ion-item>
  <ion-item>
    <ion-button color="secondary" [routerLink]="[ '/home/statmentalrot' ]">Mental Rotation Eredmények</ion-button>
  </ion-item>
  <ion-item>
    <ion-button color="secondary" [routerLink]="[ '/home/statbart' ]">BART Eredmények</ion-button>
  </ion-item>
  </ion-card>
</ion-content>


