<ion-content [fullscreen]="true">
  <ion-button color="secondary" (click)="click()">Frissítés</ion-button>
  <ion-header [translucent]="true">
    <ion-title>Statisztikák</ion-title>
</ion-header>

  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        Iowa Gambling Feladat
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas style="position: relative; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        Wisconsin Card Sorting Feladat
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas style="position: relative; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        Mental Rotation Feladat
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas2 style="position: relative;  width:40vw"></canvas>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        Ballon Analog Risk Feladat
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas2 style="position: relative; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
