ion-title {
  margin: 20px;
  text-align: center;
}
ion-card {
  margin-left: 10%;
  margin-right: 10%;
}

ion-item {
  margin: 20px;
}
ion-button {
  width: 100%;
  height: 100%;
  font-size: 15px;
}
.center-button {
  position: relative;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 10px;
  margin-left: 10%;
}

ion-img {
  width: 100%;
  height: 50%;
  padding: 10px;
}

ion-title {
  font-size: xx-large;
  font-weight: 1000;
  margin-bottom: 20px;
  margin-top: 5px;
}

.myspinner {
  --spinner-color: white;
  --height: 30%;
  --width: 30%;
}
