.active {
  border-bottom: white 1px solid;
  border-radius: 0;
}
.button-text {
  padding: 0px 0px 0px 0px;
}

@media only screen and (max-width: 280px) {
  a[mat-button] {
    font-size: medium;
    width: 10px;
    padding: 0;
  }
}

ion-icon {
  font-size: 25px;
}
ion-item {
  margin-top: 5px;
}
