ion-content {
  --padding-top: 60px;
}

#eredmenyek {
  text-align: center;
  font-size: x-large;
  margin-top: 7px;
  margin-right: 105px;
}

ion-header {
  display: flex;
  justify-content: space-between;
}
