<ion-content>
  <ion-title>Nézd meg az eredményeid</ion-title>
<ion-card>
  <ion-item>
  <ion-button color="secondary" [routerLink]="[ '/home/statistics/statwcst' ]">WCST Eredmények</ion-button>
</ion-item>
<ion-item>
  <ion-button color="secondary" [routerLink]="[ '/home/statistics/statiowa' ]">IOWA Eredmények</ion-button>
</ion-item>
<ion-item>
  <ion-button color="secondary" [routerLink]="[ '/home/statistics/statmentrot' ]">Mental Rotation Eredmények</ion-button>
</ion-item>
<ion-item>
  <ion-button color="secondary"  [routerLink]="[ '/home/statistics/statbart' ]">BART Eredmények</ion-button>
</ion-item>
</ion-card>
</ion-content>
