<ion-content>
  <ion-card class="log-card">
    <form [formGroup]="form" (ngSubmit)="login()">
      <h3>Login</h3>
      <ion-card id="alertCard" class="alert" *ngIf="alertMessage">
        {{alertMessage}}
      </ion-card>
      <ion-card-content class="max-width">
        <ion-card-title>E-mail</ion-card-title>
        <ion-input type="email" name="email" matInput placeholder="Pl. pat@example.com" formControlName="email"></ion-input>
      </ion-card-content>

      <br>
      <ion-card-content class="max-width">
        <ion-card-title>Password</ion-card-title>
        <ion-input type="password" name="password" matInput minlength="6" placeholder="Jelszó" formControlName="password"></ion-input>
      </ion-card-content>
      <br>
      <ion-button type="submit" class="max-width"
      [disabled]="form.invalid">LOGIN</ion-button>
      <br>
      <ion-button (click)="navTo('/registration')">REGISTER</ion-button>
      <br>
      <!-- <ion-button (click)="signAnonymus()">Guest</ion-button> -->
    </form>
  </ion-card>
</ion-content>
