<div class="centering">
  <mat-card class="log-card">
    <form  [formGroup]="form" (ngSubmit)="login()">
      <h1>Bejelentkezés</h1>
      <mat-form-field class="form">
        <mat-label>E-mail</mat-label>
        <input class= "input" type="email" name="email" matInput placeholder="Pl. vicc.elek@email.com" formControlName="email">
      </mat-form-field>
      <br>
      <mat-form-field class="form" id="last">
        <mat-label>Jelszó</mat-label>
        <input class= "input" type="password" name="password" matInput minlength="6" placeholder="Jelszó" formControlName="password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <div id="marg">
        <mat-chip-list *ngIf="alertMessage">
          <mat-chip class="chip" > {{alertMessage}} </mat-chip>
        </mat-chip-list>
      </div>
      <div class="btn"><button type="submit" mat-raised-button class="max-width" [disabled]="form.invalid">Bejelentkezés</button></div>
      <div id="kezdooldal" class="btn"><button mat-raised-button [routerLink]="[ '/welcome' ]">Kezdőoldal</button></div>
      <a [routerLink]="[ '/registration' ]" mat-menu-item>Még nincs profilod? Kattints!</a>
    </form>
  </mat-card>
</div>

