h1 {
  text-align: center;
}

ion-button {
  text-align: center;
}

ion-content {
  --padding-top: 60px;
}
.card {
  box-sizing: border-box;
  margin-right: 4%;
  float: left;
  width: 20%;
  height: 20%;
  background-color: white;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 1px #bdbdbd;
  -webkit-box-shadow: 0 0 10px #bdbdbd;
  box-shadow: 0 0 1px #bdbdbd;
}
.tit {
  text-align: center;
}
