<ion-content >
  <ion-title>Iowa Gambling</ion-title>
  <app-endquestion [hidden]=hidewhileend [valueA]="valueA" [valueB]="valueB" [valueC]="valueC" [valueD]="valueD" [maxValues]="whichisTheMostValueable()"></app-endquestion>
    <ion-button size="large" [hidden]=showstartbtn [disabled]="clicked" (click)="clickie(); startbtnhide();starttimer(); clicked = true;"> Start </ion-button>
    <ion-chip [hidden]=korte color="warning">
      <ion-label> Tartozás: {{currentMoney}}</ion-label>
    </ion-chip>
    <ion-chip [hidden]=korte color="success">
      <ion-label> Nyeremenx: {{wonMoney}}</ion-label>
    </ion-chip>
    <ion-chip [hidden]=korte color="danger">
      <ion-label> Veszteseg: {{lostMoney}}</ion-label>
    </ion-chip>
    <ion-chip [hidden]=korte>
      <ion-label> A: {{valueA}}</ion-label>
    </ion-chip>
    <ion-chip [hidden]=korte>
      <ion-label> B: {{valueB}}</ion-label>
    </ion-chip>
    <ion-chip [hidden]=korte>
      <ion-label> C: {{valueC}}</ion-label>
    </ion-chip>
    <ion-chip [hidden]=korte>
      <ion-label> D: {{valueD}}</ion-label>
    </ion-chip>
  <div [hidden]=korte id="content">
    <div class="card"  id="A" (click)="clickieCard('A')"> <img src="../../../../assets/pictures/222.jpg"></div>
    <div class="card"  id="B" (click)="clickieCard('B')"> <img src="../../../../assets/pictures/222.jpg"></div>
    <div class="card"  id="C" (click)="clickieCard('C')"> <img src="../../../../assets/pictures/222.jpg"></div>
    <div class="card"  id="D" (click)="clickieCard('D')"> <img src="../../../../assets/pictures/222.jpg"></div>
  </div>
  </ion-content>
