ion-title {
  text-align: center;
  font-size: x-large;
  margin: 10px;
}

ion-button {
  margin-left: 30%;
  margin-top: 20%;
  height: 10%;
  width: 40%;
}

ion-content {
  --padding-top: 70px;
}
.card {
  box-sizing: border-box;
  margin-right: 4%;
  margin-top: 20px;
  float: left;
  width: 20%;
  height: 20%;
  background-color: none;
  border-radius: 25px;
}

#content {
  margin-left: 10%;
}
img {
  border-radius: 25px;
}

img:active {
  background-color: #b6a19e;
  opacity: 0.5;
  transform: translateY(4px);
}

@media (max-width: 1000px) {
  .card {
    border-radius: 10px;
  }
  img {
    border-radius: 10px;
  }
  .card {
    box-sizing: border-box;
    margin-right: 4%;
    margin-top: 20px;
    float: left;
    width: 40%;
    height: 40%;
    background-color: none;
    border-radius: 25px;
  }
}

@media (max-width: 800px) {
  ion-button {
    margin-top: 40%;
  }
}
