.centering {
  margin: 10%;
}
.btn {
  margin-top: 20px;
  margin-bottom: 10px;
}

#last {
  margin-bottom: 20px;
}

.form {
  margin-left: 5%;
  margin-right: 5%;
}

button {
  height: 100%;
  margin-left: 15%;
  margin-right: 10%;
  width: 70%;
  font-size: large;
  padding: 0px;
}

h1 {
  text-align: center;
}
.reg-card {
  background-color: #6c648b;
}

mat-form-field {
  width: 90%;
}

.mat-form-field.ng-dirty.ng-invalid .mat-form-field-underline {
  background-color: black;
}

.mat-form-field.ng-dirty.ng-invalid .mat-form-field-label {
  color: black;
}

.chip {
  background-color: black;
}

a {
  color: white;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}

@media (min-width: 1100px) {
  a {
    margin-left: 40%;
  }
  #chippie {
    margin-left: 37%;
  }
}

@media (min-width: 800px) and (max-width: 1100px) {
  a {
    margin-left: 35%;
  }
  #chippie {
    margin-left: 33%;
  }
}

@media (min-width: 650px) and (max-width: 800px) {
  a {
    margin-left: 32%;
  }
  #chippie {
    margin-left: 28%;
  }
}

@media (min-width: 550px) and (max-width: 650px) {
  a {
    margin-left: 28%;
  }
  #chippie {
    margin-left: 24%;
  }
}

@media (min-width: 500px) and (max-width: 550px) {
  a {
    margin-left: 24%;
  }
  #chippie {
    margin-left: 20%;
  }
}

@media (min-width: 400px) and (max-width: 500px) {
  a {
    margin-left: 20%;
  }
  #chippie {
    margin-left: 20%;
  }
}
