.centering {
  margin: 10%;
}
.btn {
  margin-top: 20px;
  margin-bottom: 10px;
}

#last {
  margin-bottom: 20px;
}

button {
  height: 100%;
  margin-left: 15%;
  margin-right: 10%;
  width: 70%;
  font-size: large;
  padding: 0px;
}

h1 {
  text-align: center;
}
.reg-card {
  background-color: #6c648b;
}

mat-form-field {
  width: 90%;
}

/* Sets the underline to red if dirty and invalid */
.mat-form-field.ng-dirty.ng-invalid .mat-form-field-underline {
  background-color: black;
}
/* Sets the label to red if dirty and invalid */
.mat-form-field.ng-dirty.ng-invalid .mat-form-field-label {
  color: black;
}

/*mat-chip-list,
mat-chip {
  background-color: red;
}*/

.chip {
  background-color: black;
}

a {
  color: white;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}
