<div class="centering">
  <mat-card class="reg-card">
    <form [formGroup]="form" (ngSubmit)="registration()">
      <h1>Regisztráció</h1>
      <mat-form-field class="form">
        <mat-label>E-mail</mat-label>
        <input type="email" name="email" matInput placeholder="Pl. vicc.elek@email.com" formControlName="email">
      </mat-form-field>
      <!-- <mat-form-field class="max-width">
        <mat-label>Név</mat-label>
        <input type="name" name="name" matInput placeholder="Vicc Elek">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Születési dátum</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->
      <mat-form-field class="form">
        <mat-label>Jelszó</mat-label>
        <input type="password" name="password" matInput placeholder="Jelszó" formControlName="password1" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-hint align="end">min. hossz 6 / {{form.value.password1.length}}</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field class="form" id="last">
        <mat-label>Jelszó újra</mat-label>
        <input type="password" name="password" matInput #password2 placeholder="Jelszó újra"
          formControlName="password2" [type]="hide2 ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-hint align="end">min. hossz 6 / {{password2.value.length}}</mat-hint>
      </mat-form-field>
      <!-- <mat-chip-list *ngIf="error">
        <mat-chip color="warn" class="max-width" style="margin-top: 16px;" selected>
          A jelszó megerősítés nem egyezik</mat-chip>
      </mat-chip-list> -->
    <mat-chip-list *ngIf="alertMessage">
      <mat-chip class="chip" > {{alertMessage}} </mat-chip>
    </mat-chip-list>
      <div class="btn"><button type="submit" mat-raised-button [disabled]="form.invalid" (click)="registration()">Regisztráció</button></div>
      <div class="btn"><button mat-raised-button [routerLink]="[ '/welcome' ]">Kezdőoldal</button></div>

      <a [routerLink]="[ '/login' ]" mat-menu-item>Már van profilod? Lépj be itt!</a>
    </form>
  </mat-card>
</div>
