
<ion-content >
<ion-title class="tit">Wisconsin Card Sorting</ion-title>
<ion-button [hidden]=!korte (click)="clickie(); starttimer();"> Start </ion-button>
<div class="container" [hidden]=korte>
  <div class="card1" (click)="chooseCase('111')" id="111" (click)="clickCount()"> <img id="1" src="../../../../assets/pictures/{{variable}}.jpg"></div>
  <div class="card2" (click)="chooseCase('222')" id="222" (click)="clickCount()"> <img id="2" src="../../../../assets/pictures/{{variable2}}.jpg"></div>
  <div class="card3" (click)="chooseCase('334')" id="334" (click)="clickCount()"> <img id="3" src="../../../../assets/pictures/{{variable3}}.jpg"></div>
  <div class="card4" (click)="chooseCase('443')" id="443" (click)="clickCount()"> <img id="4" src="../../../../assets/pictures/{{variable4}}.jpg"></div>
</div>
<div id="randomcard" [hidden]=korte> <img src="../../../../assets/pictures/{{refcard}}.jpg"></div>
</ion-content>

