ion-title {
  text-align: center;
  font-size: x-large;
  margin: 10px;
}

ion-button {
  margin-left: 30%;
  margin-top: 20%;
  height: 10%;
  width: 40%;
}

.container {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

img:active {
  background-color: #b6a19e;
  opacity: 0.5;
  transform: translateY(4px);
}

.card {
  /*box-sizing: border-box;
  margin-right: 4%;
  float: left;
  width: 20%;
  height: 20%;
  background-color: white;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 1px #bdbdbd;
  -webkit-box-shadow: 0 0 10px #bdbdbd;
  box-shadow: 0 0 1px #bdbdbd;*/
  box-sizing: border-box;
  width: 220px;
  height: 220px;
  margin: 20px;
  position: relative;
}
.randomcard {
  box-sizing: border-box;
  width: 220px;
  height: 220px;
  border-radius: 5px;
  margin-top: 25%;
  margin-left: 37%;
  position: absolute;
}
img {
  max-width: 100%;
  max-height: 100%;
}

ion-content {
  overflow: hidden;
  --padding-top: 70px;
}
@media (max-width: 1700px) {
  .card {
    box-sizing: border-box;
    margin-right: 2%;
    /*float: left;
    width: 20%;
    height: 20%;
    background-color: white;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 1px #bdbdbd;
    -webkit-box-shadow: 0 0 10px #bdbdbd;
    box-shadow: 0 0 1px #bdbdbd;*/
    box-sizing: border-box;
    width: 220px;
    height: 220px;
    margin-top: 20px;
    position: relative;
  }
  .randomcard {
    box-sizing: border-box;
    width: 220px;
    height: 220px;
    border-radius: 5px;
    margin-top: 25%;
    margin-left: 40%;
    position: absolute;
  }
}
@media (max-width: 1000px) {
  .card {
    box-sizing: border-box;
    margin-right: 4%;
    margin-top: 20px;
    float: left;
    width: 220px;
    height: 220px;
    background-color: none;
    border-radius: 25px;
  }
  .randomcard {
    margin-top: 75%;
  }
}

@media (max-width: 695px) {
  .card {
    box-sizing: border-box;
    margin: 2%;
    margin-top: 20px;
    float: left;
    width: 150px;
    height: 150px;
    background-color: none;
    border-radius: 25px;
  }
  .randomcard {
    margin-top: 95%;
    width: 150px;
    height: 150px;
    margin-left: 30%;
  }

  ion-button {
    margin-top: 40%;
  }
}

/*@media and and (max-widht: 1200px) {
  .card {
    width: 40%;
  }
}*/
