<ion-content >
  <ion-title>Mental Rotation</ion-title>
  <ion-button [hidden]=!korte (click)="clickie(); starttimer();">Start</ion-button>
  <!-- <app-startgame [hidden]=ishidden></app-startgame> -->
 <ion-card [hidden]=korte>
<div class="container" >
  <div id="main"> <img class="imgmain" src="../../../../assets/pictures/{{variable1}}.png"></div>
  <div id="left" class="card" (click)="answer('left')" > <img class="img" src="../../../../assets/pictures/{{variable2}}.png"></div>
  <div id="right" class="card" (click)="answer('right')"> <img class="img" src="../../../../assets/pictures/{{variable3}}.png"></div>
</div>
</ion-card>
</ion-content>
